<%- include('header.html') -%>
<div class="navi-links">
    <h2><%= title %></h2>
    <p class="title-desc"><%= desc %></p>
    <ul>
        <% links.forEach(function(links){ %>
        <li>
            <div class="ctn">
                <a class="link" href="<%= links.link %>" title="<%= links.title %>"><%= links.title %></a>
                <div class="desc">
                    <span class="text"><%= links.desc %></span>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>
</div>
<%- include('footer.html') -%>
